
/*Body*/

body {
    background-color: #333333;
}

/*Classic Title elements*/

h1 { 
	color: #F0F0F0; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 60px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	margin-left: 15px;
	margin-bottom: 30px;
}

h2 {
    font-family: 'Times New Roman', serif;
    font-size: 20px;  
}

h2 .SectionTitle
{
	background-color: #F0F0F0;
    color: #333333;
    display: inline-block;
}

#maintitle {
	border-left: 5px solid #F0F0F0;
	margin-left: 300px;
}


/*Info blocks*/

.Info {
	background-color: #404040;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 50%;
	min-height: 300px;
	padding-left: 20px;
	padding-bottom: 15px;
	color: #F0F0F0;
	border-left: 4px solid #F0F0F0;
	text-align: left;
	display: table;
}

/*Side by side stat and graph blocks*/

.StatSpace {
/*	float: left;
	width: 30%; */
	margin-bottom: 20px;
}

.GraphSpace {
	margin-top: 10px;
/*	float: left;
	width: 70%; 
	padding-top: 0px;*/
}

.GraphSpace svg {
	margin-top: 10px;
}

/*Temporary test div*/

.Test {	
	background-color: lightgrey;
	margin: 10px;
	padding: 20px;
}

/*Note div used for debug and error catching*/

.Note {
	font-style: italic;
	background-color: grey;
	margin: 10px;
	padding: 20px;
}

/*Charts: general*/

text.title{
	fill: white;
	font-family: 'Helvetica Neue', serif; 
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
	text-anchor: middle;
}

/* Bar Charts: 
- rect (normal and hover) in barcharts
- text in barcharts
- text of class title
- text of class caption: for info after barchart rectangles
- text of class inside_info: for info inside the rectangles
- lines in barcharts*/


.barchart rect {
	fill: #2A6180;
	shape-rendering: crispEdges;
}

.barchart rect:hover{
	fill: #DE8D47;
}

.barchart text:not(.title){
	fill: #F0F0F0;
	font-family: 'Times New Roman', serif;
    font-size: 16px;
    pointer-events: none;
}

text.caption{
	fill: #F0F0F0;
	font-size: 14px;
}

text.inside_info{
	font-size: 14px;
	text-anchor: start;
	visibility: hidden;
/*	fill: #F0F0F0;*/
}

.barchart line{
	stroke: #FFFFFF;
	stroke-width: 2;
}

/*Pie and donut Charts*/

.pie-text{
	font-size: 14px;
	fill: #F0F0F0;
	pointer-events: none;
}

.pie-caption{
	font-size: 13px;
	fill: #F0F0F0;
	font-family: 'Times New Roman';
	font-weight: lighter;
}


#VisionGraphs div{
	margin: auto;
    width: 80%;
}

.donut_arc{
/*	stroke: #404040;
	stroke-width: 3px;*/
}

.donut_arc:hover{
	fill: #DE8D47;
}

/*Display average rating using stars*/

#RatingStats
{

}

#verboserating{

}

.starsrating {
	font-size: 25px;
	width: 210px;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

.stars-in {
	color: #2A6180;
	position: absolute;
	z-index: 1;
	display: block;
	overflow: hidden;
}

.stars-out {
	display: block;
	z-index: 0;
	color: #F0F0F0;
	color: #333333;
}
