
body {
    background-color: #333333;
}

h1 { 
	color: #F0F0F0; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 60px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	margin-left: 15px;
	margin-bottom: 20px;
}

#maintitle {
	border-left: 3px solid #F0F0F0;
	margin-left: 100px;
}


h2 {
    color: black;
    margin-top: 0px;
    padding-top: 0px;
}

.Info {
	background-color: lightblue;
	margin: 10px;
	padding: 20px;
}

.Test {	
	background-color: lightgrey;
	margin: 10px;
	padding: 20px;
}

.Note {
	font-style: italic;
	background-color: grey;
	margin: 10px;
	padding: 20px;
}